<!DOCTYPE html>
<html>

<head>
  <%- include('parts/libraries-css') %>
  <title><%= config.site_name %> - <%- contest ? contest.title : "Contest Not Found" %></title>
</head>

<body>
  <%- include('parts/navbar') %>

  <% if (contest) { %>

  <div class="container">
    <h1><%= contest.title %></h1>

    <%- include('parts/messages') %>

    <form method="POST">
      <div class="row">
        <div class="col-md-9">
          <h3>Contest Name</h3>
          <input class="form-control" type="text" name="title" value="<%= contest.title %>">
          <br>
        </div>
        <div class="col-md-3">
          <h3>Is Public?</h3>
          <select class="form-control" name="is_public">
            <option value="true" <%= contest.isPublic ? 'selected' : '' %>>Yes</option>
            <option value="false" <%= !contest.isPublic ? 'selected' : '' %>>No</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <h3>Start Time</h3>
          <div class="row">
            <div class="col-lg">
              <input class="form-control" type="date" name="start_date"
                value="<%= moment(contest.startTime).format('YYYY-MM-DD') %>">
            </div>
            <div class="col-lg">
              <input class="form-control" type="time" name="start_time"
                value="<%= moment(contest.startTime).format('hh:mm:ss') %>">
            </div>
          </div>
          <br>
        </div>

        <div class="col-md">
          <h3>End Time</h3>
          <div class="row">
            <div class="col-lg">
              <input class="form-control" type="date" name="end_date"
                value="<%= moment(contest.endTime).format('YYYY-MM-DD') %>">
            </div>
            <div class="col-lg">
              <input class="form-control" type="time" name="end_time"
                value="<%= moment(contest.endTime).format('hh:mm:ss') %>">
            </div>
          </div>
          <br>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      <br>

      <table class="table table-bordered table-oj table-hover">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Score</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td colspan="4">
              <label for="new_problem">Add Problem</label>
              <div class="input-group">
                <input name="new_problem_name" class="form-control" type="text" placeholder="Name"
                  style="width: 100px; max-width: 100px;">
                <input name="new_problem" class="form-control" type="text" placeholder="Enter Problem ID here">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">+</button>
                </div>
              </div>
            </td>
          </tr>

          <% if (contest.contestProblems.length === 0) { %>
          <tr>
            <td colspan="4">
              There are no problems yet. Add some problems above...
            </td>
          </tr>
          <% } %>

          <% for (const i in contest.contestProblems) { %>
          <% const {name, score, problem} = contest.contestProblems[i]; %>
          <tr>
            <td>
              <input class="form-control form-control-sm" type="text" name="name[<%= i %>]" value="<%= name %>"
                style="width: 100px;">
            </td>
            <td style="width: 100%; vertical-align: middle;">
              <a href="<%= url('contest', contest.id, 'problem', name) %>">
                <%= problem.title %>
              </a>
            </td>
            <td>
              <input class="form-control form-control-sm" type="number" name="score[<%= i %>]" value="<%= score %>"
                style="width: 100px;">
            </td>
            <td>
              <a href="<%= url(`contest/${contest.id}/problem/${name}/delete`) %>">
                <button type="button" class="btn btn-danger btn-sm">
                  Delete
                </button>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </form>
  </div>

  <% } %>

  <% if (!contest) { %>

  <div class="container">
    404 Contest Not Found
  </div>

  <% } %>

  <%- include('parts/libraries-js') %>
</body>

</html>