<!DOCTYPE html>
<html>

<head>
  <%- include('parts/libraries-css') %>
  <title><%= config.site_name %> - Judges</title>
</head>

<body>
  <%- include('parts/navbar') %>

  <div class="container">
    <h1>Judges</h1>

    <table class="table table-bordered table-oj table-hover">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <% if (isAdmin) { %>
          <th>Key</th>
          <th>IP Address</th>
          <% } %>
          <th>Last Ping</th>
          <% if (isAdmin) { %>
          <th>Action</th>
          <% } %>
        </tr>
      </thead>

      <tbody>
        <% if (isAdmin) { %>
        <tr>
          <td colspan="6">
            <form method="POST" action="<%= url('judge/new') %>">
              <label for="name">Add Judge</label>
              <div class="input-group">
                <input name="name" class="form-control" type="text" placeholder="Judge Name">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">+</button>
                </div>
              </div>
            </form>
          </td>
        </tr>
        <% } %>

        <% for (const judge of judges) { %>
        <tr>
          <td><%= judge.id %></td>
          <td><%= judge.name %></td>
          <% if (isAdmin) { %>
          <td><%= judge.key %></td>
          <td><%= judge.ipAddress %></td>
          <% } %>
          <td><%= moment(judge.lastPing).format('YYYY-MM-DD hh:mm:ss') %></td>
          <% if (isAdmin) { %>
          <td>
            <a href="<%= url(`judge/${judge.id}/delete`) %>">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </a>
          </td>
          <% } %>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <%- include('parts/libraries-js') %>
</body>

</html>