<!DOCTYPE html>
<html>

<head>
  <%- include('parts/libraries-css') %>
  <title><%= config.site_name %> - <%= contest ? contest.title : "Contest Not Found" %></title>
</head>

<body>
  <%- include('parts/navbar') %>

  <div class="container">
    <h1>Scoreboard</h1>
    <table class="table table-bordered table-oj table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Score</th>
          <th>Penalty</th>
          <% for (const { name, problem } of contest.contestProblems) { %>
          <th>
            <a href="<%= url('contest', contest.id, 'problem', name) %>">
              <%= problem.id %>. <%= problem.title %>
            </a>
          </th>
          <% } %>
        </tr>
      </thead>
      <% for (const {user, submissions, score, penalty} of users) { %>
      <tr>
        <td>
          <a href="<%= url('user', user.username) %>">
            <%= user.username %>
          </a>
        </td>
        <td><%= score %></td>
        <td><%= penalty %></td>
        <% for (const contestProblem of contest.contestProblems) { %>
        <td>
          <% const submission = submissions.get(contestProblem.name); %>
          <% console.log(submission); %>
          <% if (submission) { %>
          <a
            href="<%= url('contest', submission.contest.id, 'problem', submission.contestProblem.name, 'submission', submission.id) %>">
            <%= submission.verdict %>
          </a>
          <% } else { %>
          -
          <% } %>
        </td>
        <% } %>
      </tr>
      <% } %>
    </table c>
  </div>

  <%- include('parts/libraries-js') %>
</body>

</html>