<table class="table table-bordered table-oj table-hover">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>User</th>
      <th>Verdict</th>
      <% if (isAdmin) { %>
      <th>Judge</th>
      <% } %>
    </tr>
  </thead>

  <tbody>
    <% for (const submission of submissions) { %>
    <% 
      const submissionUrl = contest
        ? url('contest', contest.id, 'problem', submission.contestProblem.name, 'submission', submission.id)
        : url('problem', submission.problem.id, 'submission', submission.id);
    %>
    <tr>
      <td>
        <a href="<%= submissionUrl %>">
          <%= submission.id %>
        </a>
      </td>
      <td><%= moment(submission.time).format('YYYY-MM-DD hh:mm:ss') %></td>
      <td>
        <a href="<%= url('user', submission.user.username) %>">
          <%= submission.user.username %>
        </a>
      </td>
      <td>
        <span class="badge badge-<%= verdictBadgeType(submission.verdict) %>"><%= submission.verdict %></span>
      </td>
      <% if (isAdmin) { %>
      <td>
        <%= submission.judger %>
      </td>
      <% } %>
    </tr>
    <% } %>
  </tbody>
</table>